<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Aus</th>
      <th>Refresh token</th>
      <th>Created dt</th>
      <th>Modified dt</th>
      <th>Admin</th>
      <th>Ent prsn</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.aus_id %></td>
        <td><%= user.refresh_token %></td>
        <td><%= user.created_dt %></td>
        <td><%= user.modified_dt %></td>
        <td><%= user.admin %></td>
        <td><%= user.ent_prsn_id %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
