<p id="notice"><%= notice %></p>

<p>
  <strong>Aus:</strong>
  <%= @user.aus_id %>
</p>

<p>
  <strong>Refresh token:</strong>
  <%= @user.refresh_token %>
</p>

<p>
  <strong>Created dt:</strong>
  <%= @user.created_dt %>
</p>

<p>
  <strong>Modified dt:</strong>
  <%= @user.modified_dt %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<p>
  <strong>Ent prsn:</strong>
  <%= @user.ent_prsn_id %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
