<%= form_for(@facebook_page) do |f| %>
  <% if @facebook_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facebook_page.errors.count, "error") %> prohibited this facebook_page from being saved:</h2>

      <ul>
      <% @facebook_page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :facebook_page_id %><br>
    <%= f.text_field :facebook_page_id %>
  </div>
  <div class="field">
    <%= f.label :access_token %><br>
    <%= f.text_field :access_token %>
  </div>
  <div class="field">
    <%= f.label :created_dt %><br>
    <%= f.datetime_select :created_dt %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
